
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>

        <mat-nav-list (click)="sidenav.close()">

            <a mat-list-item routerLink="/">
                <mat-icon>library_books</mat-icon>
                <span>Overview</span>
            </a>

            <a mat-list-item routerLink="config">
                <mat-icon>question_answer</mat-icon>
                <span>Configuration</span>
            </a>

            <a mat-list-item routerLink="stats">
                <mat-icon>drag_indicator</mat-icon>
                <span>Statistics</span>
            </a>

         

           

        </mat-nav-list>


    </mat-sidenav>


    <mat-toolbar color="primary">

        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <a mat-button [matMenuTriggerFor]="dropdown">
            OUREL
        </a>

        <mat-menu #dropdown>

            <button mat-menu-item routerLink="/">Overview</button>

            <button mat-menu-item routerLink="/config">Configuration</button>

        </mat-menu>



    </mat-toolbar>


    <router-outlet></router-outlet>


</mat-sidenav-container>